
.card {
    -fx-background-color: white;
    -fx-border-color: #ddd;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 2);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}
.card:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.card-selected {
    -fx-background-color: rgb(41, 65, 245);
    -fx-border-color: #ddd;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 2);
}
